//
   Created by UJAYAH1 on 7/30/2016.
//   Created by UJAYAH1 on 7/27/2016.
doctype html
html(lang="en", ng-app="home")
    head
        title= StockMarket

        script.
            var serviceVars = {
                package: {
                    version: '#{package.version}'
                },
                runner: {
                    version: '#{runner.version}'
                }
            };

        link(href='vendor/bootstrap/#{runner.version}/css/bootstrap.min.css', rel='stylesheet')
        link(href='home/static/#{runner.version}/css/layout.min.css', rel='stylesheet')


    body(ng-controller='SessionController')
        top-nav
        ng-view

        script(src="vendor/bootstrap/#{runner.version}/js/jquery.min.js")
        script(src="vendor/bootstrap/#{runner.version}/js/angular.min.js")
        script(src="vendor/bootstrap/#{runner.version}/js/angular-animate.min.js")
        script(src="vendor/bootstrap/#{runner.version}/js/angular-route.min.js")
        script(src="vendor/bootstrap/#{runner.version}/js/bootstrap.min.js")

        script(src="home/static/#{runner.version}/js/home.min.js")
        script(src="home/static/#{runner.version}/js/application.min.js")
        script(src="home/static/#{runner.version}/templates/templates.min.js")

